<div class="container bg-no-repeat bg-cover">
  <div class="flex items-center" style="height: 100vh">
    <div>
      <h1 class="mat-display-4">Crypto<br><span class="text-primary">Investment</span><br>Platform</h1>
      <p class="mat-body-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta ligula non tempus malesuada. Proin
        scelerisque nec urna eu tristique.
      </p>
      <div class="flex gap-2">
        <button mat-raised-button color="primary">Bem vindo</button>
        <button mat-raised-button color="accent">Bem vindo</button>
      </div>
    </div>
  </div>
</div>
